body {
    background-image: url(../img/03.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
   
    
}
table {
    margin: auto;  /* Чтобы таблица стала по центру */
    width: 50%; /* ширина, расширеть длину таблицы */
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    background:  #fff;
    opacity: 0.5;
    color: rgb(0, 0, 0); /* просто цвет текста */
    /*border-spacing: 20px; ширина границы по краям не работает когда установлен collapse*/
    /*border: 10px solid #fff; ширина рамки по краям, сплошная, и ее цвет*/
    /*border-radius: 20px; rgb(95, 38, 207); Закруглить */
}
